@charset "utf-8";
/* CSS Document */

/* LINKS */

a {
    color: #666666;
}


a:focus {
   outline:none;
}


a:hover {
    text-decoration: underline;
}


/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
	padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d51d51;
	font-weight: normal;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

/* DEFAULT CONTENT CSS */


p {
	padding: 0px;
	margin: 0px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}

p a {
	text-decoration: none;
	color: #d51d51;
}

p a:hover {
	text-decoration: underline;
}

.hightlight {
	color: #d51d51;
}

.icon_left {
    float: left;
	padding-right: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.image-left {
    float: left;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.image-right {
    float: right;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* ie fix image border */
a img {
	border: 0px;
}